Options -Indexes

# Set up caching on media files for 1 week
<FilesMatch "\.(gif|jpg|jpeg|png|swf)$">
ExpiresDefault A604800
Header append Cache-Control "public"
</FilesMatch>

# force non-www domain
RewriteCond %{HTTP_HOST} ^www\.tripplanner\.ge$ [NC]
RewriteRule (.*) https://tripplanner.ge/$1 [R=301,L]

IndexIgnore */*
RewriteEngine On
# images|styles|scripts|uploads|_manager|_website|_cache|
RewriteRule ^(images|styles|scripts|uploads|flash|_manager|_website|img|_javascript|.*\.(pem|doc|docx|xls|xlsx|css|js|jpg|JPG|mp3|jpeg|JPEG|gif|GIF|swf|xml|png|PNG|pdf|ico|zip|rar|html|php|webp|txt|sql)) - [L]
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [QSA,L]
